.header {
  height: 100px;
  border-bottom: 3px solid black;
}

.input {
  margin-top: 30px;
}

#budget-btn {
  display: inline;
  font-size: 20px;
}

#budget-input {
  font-size: 20px;
}

#left-column {
  border: 2px solid black;
}

#right-column{
  height: 800px;
  border: 2px solid black;
}

/* Progress Bar */

.progress {
  margin: 50px auto;
  width: 60%;
}

/* Options Styling */

.option-item {
  margin-top: 25px;
  text-decoration: underline;
}

.option-name {
  display: inline;
  margin-left: 5px;
  font-size: 15px;
}